html
  head
    meta(charset="utf-8")
    title #{APPNAME}

  body
    div#webrtc-app
      div.master-panel
        h2 Master
        video#master-video.stream-video(width="480", height="272")
        div
          button#start-remote-calling-btn Start Remote Calling
          button#end-remote-calling-btn End Remote Calling

      div.guest-panel
        h2 Guest
        video#guest-video.stream-video(width="480", height="272")
