html
  head
    meta(charset="utf-8")
    title #{APPNAME}

  body
    div#webrtc-app
      div.master-panel
        h2 Master
        video#master-video.stream-video(width="480", height="272", controls="controls")
        div
          button#start-master-video Start Master Video
          button#end-master-video End Master Video

      div.client-panel
        h2 Client
        video#client-video.stream-video(width="480", height="272", controls="controls")
